* {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}
			
			#demo {
				position: relative;
				width: 80%;
				margin: 0 auto;
			}
			
			.date {
				position: relative;
				width: 100%;
				padding: 10px;
				min-width: 640px;
				max-width: 900px;
				font-family: "Microsoft YaHei";
			}
			.year {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
			}
			.week {
				position: fixed;
				left: 10%;
				top: 0;
				width: 80%;
				padding-left: 10px;
				padding-right: 10px;
				background: #F6F6F6;
				z-index: 20;
			}
			.month {
				padding-top: 10px;
				margin-top: 5px;
				width: 34px;
				height: 34px;
				text-align: center;
				border-radius: 50%;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				background: #00BCD4;
				font-size: 12px;
				color: white;
				/*border-left: 10px solid #00BCD4;*/
			}
			.day {
				position: relative;
				top: 38px;
				width: 100%;
			}
			ul {
				width: 100%;
			}
			.year {
				position: fixed;
				width: 80%;
				text-align: center;
				padding: 10px;
				top: 40px;
				left: 10%;
				background: #DDDDDD;
				z-index: 22;
				display: none;
			}
			.date li {
				position: relative;
				display: inline-block;
				list-style: none;
				padding: 10px;
				text-align: center;
				width: 14%;
			}
			.today {
				color: crimson;
			}
			.start {
				background: darkturquoise;
				color: white;
			}
			.end {
				background: #00BCD4;
				color: white;
			}
			hr {
				/*border-color:#ff0000;*/
				border-top:1px;
			}
